.container {
    width: 320px;
    background-color: #242323;
    padding: 5px;
    display: flex;
    flex-direction: column;
    color: white;
    border-radius: 5px;
}

.header {
    height: 60px;
}

.result {
    margin-top: 5px;
    color: cadetblue;
}

.button {
    text-align: center;
    vertical-align: middle;
    width: 80px;
    height: 70px;
    color: white;
    outline: 1px solid black;
    border: none;
    background-color: #353232;
    font-weight: bold;
    font-size: 1em;
}

.button:hover {
    color: black;
    outline: 0.05em solid grey;
    z-index: 3;
    transform: translate(-2px, -2px);
}

.ac-button, .zero-button {
    width: 160px;
}

.ac-button {
    background-color: rgb(172, 57, 57);
}

.equals-button {
    height: 140px;
}

.zero-button {}

.operands {
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-content-end {
    justify-content: end;
}

.justify-content-start {
    justify-content: start;
}

.mt-10 {
    margin-top: 10px;
}

.text-align-right {
    text-align: right;
}